html {
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-y: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  background-color: #f0eaea;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: rgba(32, 31, 31, 0.87);
}

body {
  @include font-settings(1.4rem, 1.2);
  font-family: $base-font;
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#app {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}