$base-font: 'Montserrat', sans-serif;
$decor-font: 'Rubik Vinyl', cursive;

$base-font-color: #353434;
$color-blue: #2a67c1;
$color-white: #ffffff;
$color-black-1b: #1b1e1a;
$color-green: #33a50e;
$color-light-green: #e1fdd7;
$color-light-yellow: #ffef7c;
$color-brown: #a35d39;
$color-red: rgb(211, 54, 54);
$color-red-light: #c74e4e;
$color-red-dark: #a50202;
$dark-green: #265800;
$grey: #393c28;
$grey-light: #8b8a8a9d;

$box-shadow: 4px 4px 10px -5px rgba(0, 0, 0, 0.7);